In [1]:
import pandas as pd
import json,os
import numpy as np

In [2]:
users = []
path = 'D://DPA Data//user.json'
with open(os.path.join(os.getcwd(), path),encoding="utf8") as f:
    for line in f:
        users.append(json.loads(line))
print("Read {count} users".format(count=len(users)))

/Users/kausar/Documents/DPA/Project/Restaurant-Recommendation-System-using-Yelp-Dataset/DC
Read 1637138 users

In [3]:
users = pd.DataFrame(users)
users.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,l6BmjZMeQD3rDxWUbiAiow,Rashmi,95,2013-10-08 23:11:33,84,17,25,"2015,2016,2017","c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...",5,...,0,0,0,0,1,1,1,1,2,0
1,4XChL029mKr5hydo79Ljxg,Jenna,33,2013-02-21 22:29:06,48,22,16,,"kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...",4,...,0,0,0,0,0,0,1,1,0,0
2,bc8C_eETBWL0olvFSJJd0w,David,16,2013-10-04 00:16:10,28,8,10,,"4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...",0,...,0,0,0,0,1,0,0,0,0,0
3,dD0gZpBctWGdWo9WlGuhlA,Angela,17,2014-05-22 15:57:30,30,4,14,,"RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN6A...",5,...,0,0,0,0,0,2,0,0,1,0
4,MM4RJAeH6yuaN8oZDSt0RA,Nancy,361,2013-10-23 07:02:50,1114,279,665,"2015,2016,2017,2018","mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6DeQ...",39,...,1,0,0,1,16,57,80,80,25,5

In [4]:
reviews = pd.read_csv('reviews.csv')
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,TfJ2QlHY7sFdPpUyDi27Zg,c_vQnScwjEmPflK9ntnwmw,zswdqM8Av3KxVv9o7_6ORA,4.0,0,0,0,Everything was pretty good but the beef in the...,2017-07-08 17:24:58
1,ilkuxI6oH3s1dEYW_Kxysw,_oxSgMz5Ryfs0NQFqy56Cw,SgG5E7PUrCIsEMP0BVSlTg,5.0,10,0,2,Very pleased with everything I've bought here:...,2013-10-03 11:36:25
2,X81JNJJg75edpHgT5nb7xw,9qAt7wTgl6mYtxPGZGwyWw,yRKrMWQxQaMeR18s5ajcYw,1.0,0,0,0,Nothing like paying $10+ for a container of cu...,2017-07-18 17:53:48
3,qChAyy6hNJ4UmEk9XCCPAw,u7UaLSwFyxVOjD8n6V4ROA,SgG5E7PUrCIsEMP0BVSlTg,4.0,6,2,2,Modified my previous review after the store ow...,2013-12-28 23:48:40
4,dHKIplwLIyzXAr46944qYQ,lWSsSv9BVOK0JO8GGOhuNw,pCer-vIZM05p423MFmiSng,1.0,3,1,0,The service is terrible. \n\nWe had a huge gro...,2015-06-08 17:41:09

In [5]:
user_ids = reviews.user_id.unique()
user_ids = np.array(user_ids)
len(user_ids)

9500

In [6]:
users = users[users['user_id'].isin(user_ids)]
users.shape

(9500, 22)

In [7]:
users.describe()

,review_count,useful,funny,cool,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
count,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000
mean,47.545474,86.912105,35.982842,44.663263,2.881263,3.653707,4.183789,0.737684,0.509053,0.416211,0.221789,3.281895,6.133579,5.909263,5.909263,2.280842,1.588211
std,151.137533,508.979197,270.767241,357.774683,25.027847,0.981717,62.652922,9.778644,15.966990,7.731290,4.872559,42.827971,77.939597,74.490462,74.490462,26.190257,36.725700
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,1.000000,0.000000,0.000000,0.000000,3.210000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.000000,6.000000,1.000000,1.000000,0.000000,3.810000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,28.000000,26.000000,6.000000,6.000000,1.000000,4.290000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4551.000000,17724.000000,9765.000000,14427.000000,1944.000000,5.000000,2752.000000,716.000000,1422.000000,460.000000,359.000000,2625.000000,3612.000000,3006.000000,3006.000000,1456.000000,2294.000000

In [8]:
# fixing indexes
users.index = range(users.shape[0])
users.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,d7D4dYzF6THtOx9imf-wPw,Regina,1053,2008-12-05 07:16:22,11769,6997,9594,"2013,2014,2015,2016,2017,2018","SxSeTYznS0YKSISgs5hj_Q, VtnCudEFLBjnxblLUAPYhA...",231,...,46,29,9,5,419,611,822,822,475,338
1,kSXl89kfPCKtcWGj0Oi0uA,Andrew,263,2016-06-05 01:30:35,76,18,36,2017,"Fdj8iZUO3R7s51R4PQZFsQ, tRj6guKV3cJkm1TNA63HrA...",4,...,0,0,0,0,1,4,4,4,1,0
2,wSByVbwME4MzgkJaFyfvNg,Bryant,828,2009-12-26 03:27:16,7878,3066,4532,"2010,2011,2012,2013,2014,2015,2016,2017","vBUUqE3K-dmOwMCVCChqyw, Jv9dFuJ6Pc3WJqagWBTUeA...",415,...,31,13,18,20,435,1168,605,605,248,101
3,bkft6UDERoz8o64w5XiC6A,Larry,153,2008-10-02 19:05:40,135,69,39,"2015,2016,2017","F78tJHr0qW6FsYBtWMmLpA, uxdGHvw2609oKu0R3z00OA...",3,...,0,0,0,0,2,3,2,2,0,0
4,HXOfPXPMvdXNpQ_l0RRjKw,Jeffrey,1939,2010-08-16 01:18:16,10647,4751,6280,"2010,2011,2012,2013,2014,2015,2016,2017,2018","hOOTtrFYdRhnoh2y_XqjlQ, JwcbAxQ3TYrqzm9HjAef9Q...",478,...,42,20,22,24,431,1976,589,589,221,132

In [9]:
## Checking null values
users.isnull().sum()

user_id               0
name                  0
review_count          0
yelping_since         0
useful                0
funny                 0
cool                  0
elite                 0
friends               0
fans                  0
average_stars         0
compliment_hot        0
compliment_more       0
compliment_profile    0
compliment_cute       0
compliment_list       0
compliment_note       0
compliment_plain      0
compliment_cool       0
compliment_funny      0
compliment_writer     0
compliment_photos     0
dtype: int64

In [10]:
print(users.yelping_since.head())
len(users.yelping_since.unique())

## Too many unique values because of the timestamp

0    2008-12-05 07:16:22
1    2016-06-05 01:30:35
2    2009-12-26 03:27:16
3    2008-10-02 19:05:40
4    2010-08-16 01:18:16
Name: yelping_since, dtype: object

9500

In [11]:
yelping_since = [x.split(' ')[0] for x in users.yelping_since]
len(np.unique(yelping_since))

3545

In [12]:
users.yelping_since = yelping_since
len(users.yelping_since.unique())

3545

In [13]:
users.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,d7D4dYzF6THtOx9imf-wPw,Regina,1053,2008-12-05,11769,6997,9594,"2013,2014,2015,2016,2017,2018","SxSeTYznS0YKSISgs5hj_Q, VtnCudEFLBjnxblLUAPYhA...",231,...,46,29,9,5,419,611,822,822,475,338
1,kSXl89kfPCKtcWGj0Oi0uA,Andrew,263,2016-06-05,76,18,36,2017,"Fdj8iZUO3R7s51R4PQZFsQ, tRj6guKV3cJkm1TNA63HrA...",4,...,0,0,0,0,1,4,4,4,1,0
2,wSByVbwME4MzgkJaFyfvNg,Bryant,828,2009-12-26,7878,3066,4532,"2010,2011,2012,2013,2014,2015,2016,2017","vBUUqE3K-dmOwMCVCChqyw, Jv9dFuJ6Pc3WJqagWBTUeA...",415,...,31,13,18,20,435,1168,605,605,248,101
3,bkft6UDERoz8o64w5XiC6A,Larry,153,2008-10-02,135,69,39,"2015,2016,2017","F78tJHr0qW6FsYBtWMmLpA, uxdGHvw2609oKu0R3z00OA...",3,...,0,0,0,0,2,3,2,2,0,0
4,HXOfPXPMvdXNpQ_l0RRjKw,Jeffrey,1939,2010-08-16,10647,4751,6280,"2010,2011,2012,2013,2014,2015,2016,2017,2018","hOOTtrFYdRhnoh2y_XqjlQ, JwcbAxQ3TYrqzm9HjAef9Q...",478,...,42,20,22,24,431,1976,589,589,221,132

In [14]:
users.to_csv('users_data.csv')